
<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title></title>
<script type="text/javascript" src="js/jq.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" href="js/bootstrap-3.3.7-dist/css/bootstrap.css" />
<link rel="stylesheet"
	href="js/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" />
<link type="text/css" rel="stylesheet"
	href="js/bootstrap-3.3.7-dist/css/bootstrap.css" />

<script src="js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

</head>
<embed style="width: 100%;" type="text/html" src="header.html" />
<body>
	
	<div class="banner_x center"style="margin-top:-120px">
		<a href="index.html" target="_blank">
			<div class="logo fl"></div>
		</a> <a href="">
			<div class="ad_top fl"></div>
		</a>
		<div class="nav fl">
			<ul>
				<li><a href="">小米手机</a></li>
				<li><a href="">红米</a></li>
				<li><a href="">平板·笔记本</a></li>
				<li><a href="">电视</a></li>
				<li><a href="">盒子·影音</a></li>
				<li><a href="">路由器</a></li>
				<li><a href="">智能硬件</a></li>
				<li><a href="">服务</a></li>
				<li><a href="">社区</a></li>
			</ul>
		</div>
		<div class="search fr">
			<form action="" method="post">
				<div class="text fl">
					<input type="text" class="shuru" placeholder="小米6&nbsp;小米MIX现货" />
				</div>
				<div class="submit fl">
					<input type="submit" class="sousuo" value="搜索" />
				</div>
				<div class="clear"></div>
			</form>
			<div class="clear"></div>
		</div>
	</div>
	<!--订单-->
	<div class="grzxbj">
		<div class="selfinfo center">
			<div class="lfnav fl">
				<div class="ddzx">订单中心</div>
				<div class="subddzx">
					<ul>
						<li><a href="" style="color: #FF6700; font-weight: bold;">我的订单</a>
						</li>
						<li><a href="">意外保</a></li>
						<li><a href="">团购订单</a></li>
						<li><a href="">评价晒单</a></li>
					</ul>
				</div>
				<div class="ddzx">个人中心</div>
				<div class="subddzx">
					<ul>
						<li><a href="我的资料.html">我的个人中心</a></li>
						<li><a href="">消息通知</a></li>
						<li><a href="">优惠券</a></li>
						<li><a href="">收货地址</a></li>
					</ul>
				</div>
			</div>
			<div>
				<div>
					<h1 style="font-family: '微软雅黑';">订单</h1>
				</div>
				<div id= "app">
					<div
					style="width: 800px; height: 445px; display: inline-block; overflow: scroll;">
					<div >
						<table
							class="table tab-con
							tent tab-pane table-responsive table-striped table-hover">
							<tr>
								<th>订单号</th>
								<th>收货人姓名</th>
								<th>联系电话</th>
								<th>收货地址</th>
								<th>购买时间</th>
								
								<th>操作</th>
							</tr>
							<tbody>

								<tr v-for="p in info">

									<td>{{p.serial}}</td>
									<td>{{p.consigneeName}}</td>
									<td>{{p.phone}}</td>
									<td>{{p.province}}.{{p.city}}.{{p.county}}</td>
									<td>{{p.addTime}}</td>
									<td><button type="button" class="btn btn-primary"
											data-toggle="modal" data-target=".bs-example-modal-lg"
											@click="details(p.serial)">订单详情</button></td>
								</tr>

							</tbody>

						</table>


					</div>
				</div>
			
			<div class="modal fade bs-example-modal-lg" tabindex="-1"
				role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<table
							class="table tab-content tab-pane table-responsive table-striped table-hover">

							<tr>
								<th>商品图片</th>
								<th>商品名称</th>
								<th>商品价格</th>
								<th>商品数量</th>

								<th>小计</th>

							</tr>
							<tbody>

								<tr v-for="a in foo">

									<td><img :src="a.pimage" style="width:40px;height:40px"></td>
									<td>{{a.pname}}</td>
									<td>{{a.shopPrice}}</td>
									<td>{{a.tradeNum}}</td>
									<td>{{a.tradeNum*a.shopPrice}}</td>
								</tr>
								
							</tbody>

						</table>
							<span class="btn btn-danger" style="font-family: 楷体;border: 1px solid red;border-radius: 3px">￥ {{aggregate}}</span>
					</div>
				</div>
			</div>
			</div>
				</div>
		</div>
	</div>
	<footer class="center">
		<div class="mt20">MIUI|米聊|多看书城|小米路由器|视频电话|小米天猫店|小米淘宝直营店|小米网通|小米移动|隐私政策|Select
			Region</div>
		<div>@mi.com 京ICP证110507号 京ICP备1004644号 京公安网备11010802020134号
			京网文[2014]0059-0009号</div>
		<div>违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</div>
	</footer>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el : "#app",
			data : {
				info : {},
				foo : {},
				aggregate:0
			},
			methods : {
				details : function(serial) {
					/* 获取订单详情 */
					$.get("order?m=details&serial=" + serial, function(back) {
						app.foo = back.data.trade;
						app.aggregate = back.data.aggregate;
					});
				}
			}

		});
		/* 获取用户所有的订单信息 */
		$.get("order?m=getOrders", function(back) {
			app.info = back.data;
			
 
		});
	</script>
</body>

</html>